.project-section {
  padding: 70px 5%;
}


.filter-buttons {
  text-align: center;
  margin-bottom: 30px;
}

.filter-buttons button {
  padding: 10px 20px;
  margin: 5px;

  border: 2px solid var(--primary);
  border-radius: 8px;

  background: white;
  cursor: pointer;
}

.filter-buttons button.active {
  background: var(--primary);
  color: white;
}

.project-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fill, minmax(300px, 1fr));

  gap: 49px;

  padding: 30px 20px;

  margin-top: 30px;

  text-align: center;
}

.project-card {
  background-color: rgb(177, 177, 198);

  border-radius: 16px;

  overflow: hidden;

  display: flex;
  flex-direction: column;

  transition: all 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);

  box-shadow:
    0 4px 15px
    rgba(57, 2, 108, 0.751);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card-body {
  padding: 20px;
}

.project-tags {
  margin: 15px 0;
}

.tag {
  display: inline-block;

  background: var(--light);

  padding: 5px 12px;

  margin: 5px;

  border-radius: 6px;

  font-weight: 600;
}

.project-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;

  padding: 12px 28px;

  margin: 8px;

  border-radius: 8px;

  text-decoration: none;

  font-weight: 600;

  font-size: 18px;

  border: 2px solid transparent;
}

.btn-primary {
  background-color: transparent;
  color: rgb(41, 3, 3);
}

.btn-primary:hover {
  background-color: #a7caec;
  border-color: var(--light);
}


#Projects h2{
    text-align: center;
}