.hero-section {
  background: linear-gradient(
    135deg,
    rgb(125, 14, 14),
    rgb(160, 87, 87),
    rgb(8, 12, 220)
  );

  color: var(--white);
  text-align: center;
  padding: 100px 5%;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  animation: fadeinup 0.8s ease 0.2s both;
}

.tagline {
  animation: fadeinup 0.8s ease 0.4s both;
}

.hero-button {
  animation: fadeinup 0.8s ease 0.6s both;
}

@keyframes fadeinup {

  from {
    opacity: 0;
    transform: translate(30px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }

}

@media (max-width: 768px) {

  .hero-section h1 {
    font-size: 2rem;
  }

}
.btn {
  display: inline-block;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 23px;
  border: 2px solid transparent;
}
.btn-primary {
  background-color: transparent;
  color: rgb(41, 3, 3);
}

.btn-primary:hover {
    background-color: #a7caec;
    border-color: var(--light);
    color: rgb(10, 0, 0);
  }

.btn-secondary {
  background-color: transparent;
  color: #1c0101;
}
.btn-secondary:hover {
  background-color: #a7caec;
  border-color: var(--light);
  color: #0a1827;
}