.about-section {
  text-align: center;
  padding: 70px 5%;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.profile-figure img {
  border-radius: 50%;
}

.about-text {
  max-width: 600px;
}