.site-footer {
  background-color: var(--primary);

  color: var(--white);

  text-align: center;

  padding: 40px 5%;
}

.site-footer a {
  color: white;

  text-decoration: none;

  margin: 0 15px;
}

.site-footer a:hover {
  color: var(--accent);
}